rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Dishes (Menu items)
    match /dishes/{dishId} {
      allow read: if true;
      allow write: if true;
    }

    // Store Settings
    match /settings/{settingId} {
      allow read: if true;
      allow write: if true;
    }

    // Customer Orders
    match /orders/{orderId} {
      allow read: if true;
      allow create: if true;
      allow update, delete: if true;
    }
  }
}
